{% extends  'base.html'%}

{% block content %}

<h1> hello </h1>
<br>
  {% if ticker %}
       {{ ticker }}
  {% endif %}

{% if api %}
    {% if api == "Error..." %}
        
         <div class="alert alert-danger d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
          <div>
            There was a problem with your search , please try again !
          </div>
        </div>
    {% else %}
      <h1>  <i> current price:  </i> {{ api.c}} </h1>
      
    </br> 
    
      <ul> 
        <li>        Change : {{api.d}}   </li>
        <li>        Percent change : {{ api.dp }} </li>
        <li>        High price of the day : {{ api.h }}  </li>
        <li>        Low price of the day  : {{ api.l }}  </li>
        <li>        Open price of the day :  {{ api.o }} </li>
        <li>        Previous close price  : {{ api.pc }}  </li>
     
      </ul>

      
      {% endif %}
    {% for key , value in api.items %}
        {{key}} : {{value}} <br/>
    {% endfor %}

{% endif %}

{% endblock %}